@import "tailwindcss";

@theme {
  --color-primary-container: #2170e4;
  --color-background: #f6fafe;
  --color-outline: #727785;
  --color-tertiary-fixed: #ffdcc6;
  --color-on-surface: #171c1f;
  --color-error-container: #ffdad6;
  --color-primary-fixed-dim: #adc6ff;
  --color-tertiary-container: #b75b00;
  --color-on-primary-fixed: #001a42;
  --color-secondary-fixed-dim: #b1c6f9;
  --color-surface-tint: #005ac2;
  --color-on-background: #171c1f;
  --color-primary: #0058be;
  --color-outline-variant: #c2c6d6;
  --color-secondary-fixed: #d8e2ff;
  --color-inverse-surface: #2c3134;
  --color-surface-container: #eaeef2;
  --color-secondary: #495e8a;
  --color-on-tertiary: #ffffff;
  --color-on-secondary-container: #405682;
  --color-tertiary: #924700;
  --color-error: #ba1a1a;
  --color-surface-dim: #d6dade;
  --color-surface-bright: #f6fafe;
  --color-surface-variant: #dfe3e7;
  --color-on-secondary: #ffffff;
  --color-primary-fixed: #d8e2ff;
  --color-inverse-primary: #adc6ff;
  --color-on-secondary-fixed-variant: #304671;
  --color-on-primary: #ffffff;
  --color-on-surface-variant: #424754;
  --color-on-tertiary-container: #fffbff;
  --color-on-primary-fixed-variant: #004395;
  --color-inverse-on-surface: #edf1f5;
  --color-on-primary-container: #fefcff;
  --color-on-error: #ffffff;
  --color-surface-container-high: #e4e9ed;
  --color-secondary-container: #b6ccff;
  --color-on-tertiary-fixed-variant: #723600;
  --color-surface: #f6fafe;
  --color-surface-container-low: #f0f4f8;
  --color-on-secondary-fixed: #001a42;
  --color-surface-container-lowest: #ffffff;
  --color-tertiary-fixed-dim: #ffb786;
  --color-on-error-container: #93000a;
  --color-surface-container-highest: #dfe3e7;
  --color-on-tertiary-fixed: #311400;

  --font-headline: Manrope, sans-serif;
  --font-body: 'Plus Jakarta Sans', sans-serif;
  --font-label: 'Plus Jakarta Sans', sans-serif;
}

body {
  font-family: var(--font-body);
  background-color: var(--color-background);
  color: var(--color-on-surface);
}

h1, h2, h3, h4, .font-headline {
  font-family: var(--font-headline);
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    display: inline-block;
}

.hide-scrollbar::-webkit-scrollbar { display: none; }
.hide-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }

.auto-scroll {
    display: flex;
    gap: 2rem;
    animation: scroll 40s linear infinite;
    width: max-content;
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-50% - 1rem)); }
}

.editorial-shadow {
    box-shadow: 0 8px 32px -4px rgba(23, 28, 31, 0.06);
}
